<div class="flex justify-center m-5">
    <form class="flex gap-3">
        <input type="text" id = "todo-entry" class = "border-2 border-gray-500 rounded p-2" placeholder="What's next?" required>
        <input type="date" name="todo-due" class="border-2 border-gray-500 rounded p-2" id="todo-due">
        <button class="bg-lime-500 rounded px-5 py-2 text-white">Add</button>
    </form>
</div>
<div class="flex gap-5 justify-evenly m-10">
    <div class="border-2 border-black w-96 h-96 rounded-lg">
        <div class="flex justify-center">
        <h5 class="text-center m-2 font-bold text-amber-600">Overdue</h5>
        <span id="count-overdue" class="relative top-2 text-red-500 font-bold text-center"><%= overDueList.length %></span>
    </div>
        <ul class="p-2">
            <% for(let i = 0; i<overDueList.length; i++){%>
                <li class="m-2 p-2 hover:bg-purple-200 font-bold cursor-pointer"><input type="checkbox" name="" class="cursor-pointer w-5" id="todo-over-<%=[i] %>"> <label for="todo-over-<%=[i] %>" class="cursor-pointer"><%= overDueList[i].title %></label></li>
            <%}%>
        </ul>
    </div>
    <div class="border-2 border-black w-96 h-96 rounded-lg">
        <div class="flex justify-center">
        <h5 class="text-center m-2 font-bold text-amber-600">Due Today</h5>
        <span id="count-overdue" class="relative top-2 text-red-500 font-bold text-center"><%= dueTodayList.length %></span>
    </div>
        <ul class="p-2">
            <% for(let i = 0; i<dueTodayList.length; i++){%>
                <li class="m-2 p-2 hover:bg-purple-200 font-bold cursor-pointer"><input type="checkbox" name="" class="cursor-pointer w-5" id="todo-today-<%=[i] %>"> <label for="todo-today-<%=[i] %>" class="cursor-pointer"><%= dueTodayList[i].title %></label></li>
            <%}%>
        </ul>
    </div>
    <div class="border-2 border-black w-96 h-96 rounded-lg">
        <div class="flex justify-center">
        <h5 class="text-center m-2 font-bold text-amber-600">Due Later</h5>
        <span id="count-overdue" class="relative top-2 text-red-500 font-bold text-center"><%= dueLaterList.length %></span>
    </div>
        <ul class="p-2">
            <% for(let i = 0; i<dueLaterList.length; i++){%>
                    <li class="m-2 p-2 hover:bg-purple-200 font-bold cursor-pointer"><input type="checkbox" name="" class="cursor-pointer w-5" id="todo-later-<%=[i] %>"> <label for="todo-later-<%=[i] %>" class="cursor-pointer"><%= dueLaterList[i].title %></label></li>
            <%}%>
        </ul>
    </div>
</div>